@import "settings/fonts";
@import "settings/reset";
@import "settings/colors";
@import "settings/breakingPoints";
@import "elements/Desktop/Home/homeHeader";
@import "elements/Desktop/Home/homeHeaderMenu";
@import "elements/Desktop/Home/homeHeaderStartHelp";
@import "elements/Desktop/Home/homeThreeColumns";
@import "elements/Desktop/Home/homeFourSteps";
@import "elements/Desktop/Home/homeAboutUs";
@import "elements/Desktop/Home/homeWhomWeHelp";
@import "elements/Desktop/Home/homeContactUs";
@import "elements/Desktop/Home/homeWhomWeHelpList";
@import "elements/Desktop/LogSing/logIn";
@import "elements/Desktop/LogSing/singIn";
@import "elements/Desktop/LogSing/logOut";
@import "elements/Desktop/Form/formHeader";
@import "elements/Desktop/Form/formHeaderStartInfo";
@import "elements/Desktop/Form/formSteps";
@import "elements/Desktop/Form/formStep1";
@import "elements/Desktop/Form/formStep2";
@import "elements/Desktop/Form/formStep3";
@import "elements/Desktop/Form/formStep4";
@import "elements/Desktop/Form/formMySelect";
@import "elements/Desktop/Form/formMyRadio";
@import "elements/Desktop/Form/formStep3WhomHelpRadio";
@import "elements/Desktop/Form/formStepsConfirmation";
@import "elements/Desktop/Form/formStepsSuccess";
@import "elements/Mobile/Home/mobileHomeMenu";
@import "elements/Mobile/Home/mobileHomeHeader";
@import "elements/Mobile/Home/mobileHomeFourSteps";
@import "elements/Mobile/Home/mobileHomeWhoWeHelp";
@import "elements/Mobile/Home/mobileHomeSignIn";
@import "elements/Mobile/Home/mobileHomeContact";


@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Regular"), url("/assets/OpenSans-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "OpenSansLight";
  src: local("OpenSans-Light"), url("/assets/OpenSans-Light.ttf") format("ttf");
}

@font-face {
  font-family: "OpenSansSemiBold";
  src: local("OpenSans-SemiBold"), url("/assets/OpenSans-SemiBold.ttf") format("ttf");
}


@font-face {
  font-family: "Merriweather";
  src: local("Merriweather"), url("/assets/Merriweather-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "MerriweatherLight";
  src: local("Merriweather-Light"), url("/assets/Merriweather-Light.ttf") format("ttf");
}

@font-face {
  font-family: "MerriweatherLightItalic";
  src: local("Merriweather-LightItalic"), url("/assets/Merriweather-LightItalic.ttf") format("ttf");
}

body {
  font-family: $font-base-light, sans-serif;
  color: $mainFontColor;
  width: 100vw;
};

.mainContainer {
  margin: auto;
}


