@import "settings/fonts";
@import "settings/reset";
@import "settings/colors";

@import "elements/homeHeader";
@import "elements/homeHeaderMenu";
@import "elements/homeHeaderStartHelp";
@import "elements/homeThreeColumns";
@import "elements/homeFourSteps";
@import "elements/homeAboutUs";
@import "elements/homeWhomWeHelp";

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans-Regular"), url("/assets/OpenSans-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "OpenSansLight";
  src: local("OpenSans-Light"), url("/assets/OpenSans-Light.ttf") format("ttf");
}

@font-face {
  font-family: "Merriweather";
  src: local("Merriweather"), url("/assets/Merriweather-Regular.ttf") format("ttf");
}

body {
  font-family: $font-base-light, sans-serif;
  color: $mainFontColor;
  width: 100vw;
};

.mainContainer {
  margin: auto;
}


