
$font-base: OpenSans;
$font-base-light: OpenSansLight;
$font-base-semi-bold: OpenSansSemiBold;
$font-alt: Merriweather;
$font-alt-light: MerriweatherLight;
$font-alt-lightItalic: MerriweatherLightItalic;

