@import "../../../settings/colors";
@import "../../../settings/fonts";

.logIn {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: flex-end;

  .leftSide {
    width: 50%;
  }

  .rightSide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    margin-right: 3rem;
  }

  form {
    margin-top: 2rem;
    align-self: center;
    width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logInBox {
      background-color: $backgroundFourSteps;
      display: flex;
      flex-direction: column;
      padding: 2rem 3rem 1rem 3rem;
      width: 15rem;

      .logInWarnings {
        font-size: 0.8rem;
        margin-bottom: 1rem;
        color: #960c0c;
      }

      input {
        border-bottom: 1px solid $borderColor;
        width: 100%;
        line-height: 1.5rem;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
      }
    }
  }

  .logInHeader {
    margin-top: 1.5rem;
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 2.4rem;
      line-height: 1.5;
    }

    h2 {
      font-size: 2.1rem;
      line-height: 1.5;
    }

  }

  img {
    margin: 1rem;
  }

  .logInButtons {
    width: 28rem;
    display: flex;
    justify-content: space-between;

    .buttonLink {
      font-family: OpenSansLight;
      text-decoration: none;
      color: $mainFontColor;
      font-size: 2.4rem;
    }

    .button {
      padding: 1rem;
      margin: 1rem;
      font-family: OpenSansLight;
      text-decoration: none;
      color: $mainFontColor;
      min-width: 3rem;
      text-align: center;
    }

    .button:nth-child(2) {
      border: 1px solid $mainFontColor;
    }

    .active {
      font-family: OpenSansLight;
    }
  }
}

