@import "../../settings/colors";
@import "../../settings/fonts";

.StepsSuccess {
  background-image: url('/assets/Background-Form.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 85%;
  box-sizing: border-box;
  height: 100vh;
  .wrapper{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    div {
      width: 60%;
      h2 {
        font-size: 2.6rem;
        font-family: $font-base-light;
      }
    }
  }
}