@import "../../settings/colors";
@import "../../settings/fonts";

.StepsConfirmation {
  background-image: url('/assets/Background-Form.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 85%;
  padding: 2rem 4rem;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .realizationData {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;

    .addressAndTermConfirmation {
      display: flex;
      justify-content: space-between;
      margin-top: 3rem;

      p:first-child {
        width: 50%;
      }

      .leftSide {
        width: 40%;

        li {
          flex-direction: row;
          margin: 1rem 0;
        }
      }

      .rightSide {
        width: 40%;

        li {
          flex-direction: row;

        }
      }
    }

    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      list-style-type: none;

      li {
        display: flex;
        align-items: center;
        margin: 1rem 0;

        img {
          width: 3rem;
          height: 3rem;
          margin-right: 1rem;
        }
      }
    }
  }

  p {
    font-family: OpenSansLight;
    font-size: 1.5rem;
  }

  h2 {
    font-size: 2rem;
    font-family: $font-base-semi-bold;
    margin-top: 2.7rem;
    margin-bottom: 2.5rem;
  }

  h3 {
    font-size: 1.5rem;
    font-family: $font-base-semi-bold;
    margin-bottom: 1rem;
  }

  h4 {
    font-family: OpenSans;
    font-size: 1.5rem;
  }

  select {
    font-size: 1.5rem;
    font-family: $font-base-light;
    margin-left: 0.5rem;
    margin-bottom: 2.5rem;

    .hide {
      display: none;
    }
  }

  .buttons {
    display: flex;

    .button {
      justify-self: flex-end;
      padding: 1.5rem 2rem;
      border: 1px solid $mainFontColor;
      max-width: 10rem;
      min-width: 10rem;
      font-size: 1.5rem;
      font-family: $font-base-light;
      margin-right: 2rem;
      text-align: center;
    }
  }
}