@import "../../settings/colors";
@import "../../settings/fonts";
@import "../../settings/colors";
@import "../../settings/fonts";

.FormStep3Warning {
  background-color: $columnsColor;
  padding: 1.15rem 4rem;

  h2 {
    font-size: 2.25rem;
    font-family: $font-base-semi-bold;
    line-height: 2.5rem;
  }

  p {
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-family: OpenSans;
  }
}

.Step3 {
  background-image: url('/assets/Background-Form.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 85%;
  padding: 2rem 4rem;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    font-family: OpenSansLight;
    font-size: 1.5rem;
    margin-bottom: 5rem;
  }

  h2 {
    font-size: 2rem;
    font-family: $font-base-semi-bold;
    margin-bottom: 1.8rem;
  }

  h3 {
    font-size: 1.5rem;
    font-family: $font-base-semi-bold;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
  }

  select {
    font-size: 1.5rem;
    font-family: $font-base-light;
    margin-left: 0.5rem;
    margin-bottom: 2.5rem;

    .hide {
      display: none;
    }
  }

  input {
    width: 37rem;
    height: 2rem;
    border: 1px solid $mainFontColor;
    line-height: 2.3rem;
    font-size: 1.5rem;
    font-family: OpenSansLight;
  }

  .buttons {
    display: flex;

    .button {
      justify-self: flex-end;
      padding: 1.5rem 2rem;
      border: 1px solid $mainFontColor;
      max-width: 10rem;
      min-width: 10rem;
      font-size: 1.5rem;
      font-family: $font-base-light;
      margin-right: 2rem;
      text-align: center;
    }
  }
}