@import "../../settings/colors";
@import "../../settings/fonts";

.homeContactUs {

  ::placeholder {
    color: $mainFontColor;
    font-size: 1.1em;
    opacity: 0.15;
  }


  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 55vw;
    text-align: center;

    h3 {
      margin-top: 12rem;
      font-size: 2.4rem;
      margin-bottom: 1rem;
    }

    form {
      margin-top: 3rem;
      width: 70%;
      display: flex;
      flex-direction: column;

      label {
        font-size: 1rem;
        font-family: $font-base-semi-bold;
        color: $mainFontColor;
      }

      .topOfForm {
        display: flex;
        justify-content: flex-start;
        text-align: left;
        margin-bottom: 2rem;

        input {
          width: 90%;
          margin-top: 1rem;
          line-height: 1.5rem;
          border-bottom: 1px solid $mainFontColor;
        }
      }

      .mainForm {
        width: 100%;
        text-align: left;

        label {
          width: 100%
        }

        textArea {
          width: 95%;
          margin-top: 1rem;
          border-bottom: 1px solid $mainFontColor;
          resize: none;

        }
      }

      .sendButton {
        margin-top: 1.5rem;
        padding: 1rem;
        border: 1px solid $mainFontColor;
        align-self: flex-end;
        margin-right: 1.1rem;
      }


    }
  }
}

.image {
  width: 100vw;
  height: 100vh;
  display: block;
  position: relative;
}

.image::after {
  content: "";
  background: url('/assets/Background-Contact-Form.jpg');
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
}

.copyright {
  position: absolute;
  bottom: 1rem;
  left: 45%;
  font-size: 1.1rem;
  font-family: $font-base;
}

.icons {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.1rem;
  font-family: $font-base;

  img {
    margin-left: 1rem;
  }
}
