@import "../../settings/colors";
@import "../../settings/fonts";

.homeWhomWeHelpList {
  width: 70%;
  display: flex;
  flex-direction: column;

  .siteButtons {
    justify-self: center;
    align-self: center;
    margin: 2rem;
  }

  ul {

    display: flex;
    flex-direction: column;

    ul:last-child{
      border-bottom: 5px solid red;
    }

    li {

      border-bottom: solid 1px $mainFontColor;
      padding-bottom: 1rem;
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      color: $mainFontColor;

      .name {
        font-family: $font-alt-light;
        font-size: 1.7rem;
      }

      .stuff {
        font-size: 1.1rem;
        font-family: $font-alt-light;
      }

      .mission {
        margin-top: 0.3rem;
        font-size: 1.1rem;
        font-family: $font-alt-lightItalic;
      }
    }

    button {
      padding: 1rem;

    }
  }
}