@import "../../../settings/colors";
@import "../../../settings/fonts";

div.mobileHomeContact {
  background-color: $columnsColor;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  img.logo {
    height: 5rem;
    width: 7rem;
    border-radius: 5rem;
    border: 1px solid $mainFontColor;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  div.contact {
    display: flex;
    margin-top: 0.7rem;
    i {
      margin: 0rem 0.6rem;
    }
  }

  div.regulations {
    margin-top: 1rem;
  }
}