@import "../../../settings/colors";
@import "../../../settings/fonts";

div.mobileHomeSignIn {
  background-color: $backgroundFourSteps;
  align-items: center;
  margin: 1rem 0rem;
  padding: 1rem;
  font-family: OpenSans;
  color: $mainFontColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-family: OpenSansSemiBold;
  }

  button {
    background-color: $columnsColor;
    color: white;
    padding: 1rem;
    font-family: OpenSansSemiBold;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    margin-right: 2rem;
  }
}