@import "../../../settings/colors";
@import "../../../settings/fonts";

div.mobileHomeHeader {
  background-color: $backgroundFourSteps;
  align-items: center;
  margin: 1rem 0rem;
  padding: 1rem;
  font-family: OpenSans;
  color: $mainFontColor;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 0.7rem;
    margin-bottom: 1rem;
    align-self: flex-start;
  }
  h1 {
    line-height: 2rem;
    align-self: flex-start;
  }
  h3 {
    margin-bottom: 1rem;
    align-self: flex-start;
  }
  button {
    background-color: $columnsColor;
    color: white;
    padding: 1rem;
    font-family: OpenSansSemiBold;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    align-self: flex-end;
    margin-right: 2rem;
  }
}