@import "../../../settings/colors";
@import "../../../settings/fonts";

div.mobileHomeMenu {
  background-color: $columnsColor;
  display: flex;
  justify-content: space-between;
  align-items: center;

  div.burgerMenuIcon {
    margin: 0.8rem;

    div.burgerLevel {
      width: 35px;
      height: 5px;
      background-color: $mainFontColor;
      margin: 6px 0;
      border-radius: 0.5rem;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }

  img.logo {
    height: 5rem;
    border-radius: 5rem;
    margin: 0.8rem;
    border: 1px solid $mainFontColor;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .burgerMenu {
    position: absolute;
    text-align: center;
    padding: 1rem;
    top: 0px;
    left: 0px;
    width: 15rem;
    background-color: $backgroundFourSteps;
    border: $mainFontColor solid 1px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    animation-name: show;
    animation-duration: 4s;
    animation-delay: -2s;

    li {
      list-style: none;
      cursor: pointer;
    }

    .menuButton {
      font-size: 1.1rem;
      line-height: 1.8rem;
    }
  }

  .burgerMenuHide {
    position: absolute;
    text-align: center;
    padding: 1rem;
    top: -8rem;
    left: 0px;
    width: 15rem;
    background-color: $backgroundFourSteps;
    border: $mainFontColor solid 1px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    animation-name: hide;
    animation-duration: 4s;
    animation-delay: 0s;

    li {
      list-style: none;
      cursor: pointer;
    }

    .menuButton {
      font-size: 1.1rem;
      line-height: 1.8rem;
    }
  }

  @keyframes show {
    0% {
      left: 0px;
      top: -40rem;
    }
    100% {
      left: 0px;
      top: 0px;
    }
  }

  @keyframes hide {
    0% {
      position: absolute;
      left: 0px;
      top: 0px;
    }
    100% {
      position: absolute;
      left: 0px;
      top: -8rem;
    }
  }
}