@import "../../../settings/colors";
@import "../../../settings/fonts";

div.mobileHomeFourSteps {
  padding: 0.5rem;
  font-family: OpenSans;
  color: $mainFontColor;
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  justify-content: center;
  margin-bottom: 2rem;

  .steps {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .step {
      max-width: 5rem;
      align-content: center;
      justify-content: center;

      img {
        max-width: 3rem;
        height: 3.5rem;
      }

      div {
        display: flex;
        height: 2rem;
        align-items: center;
        justify-content: center;
        margin-top: 0.5rem;

        h4 {
          margin-top: 0.5rem;
          font-size: 0.8rem;

          align-self: center;
          justify-self: center;
        }
      }
    }
  }

  h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-family: $font-base-semi-bold;
  }

  h1 {
    line-height: 2rem;
    align-self: flex-start;
  }

  h3 {
    margin-bottom: 1rem;
    align-self: flex-start;
  }

}