@import "../scss/settings/colors";

.headerMenu {
  height: 95px;
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
  margin-top: 2rem;

  .homeHeaderNavigateMenu {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    li {
      padding: 0.5rem;
      .menuButton {
        text-decoration: none;
        padding: 1rem;
        color: $mainFontColor;
      }
      .active {
        border: 1px solid $mainFontColor;
        color: $mainFontColor;
      }
    }
  }
  .homeHeaderLogInMenu {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8rem;

    li {
      padding: 0.5rem;
      .menuButton {
        text-decoration: none;
        padding: 1rem;
        color: $mainFontColor;
      }
      .active {
        color: $mainFontColor;
      }
    }
    li:last-child{
      border: 1px solid $columnsColor;
    }
  }
}
