
#headerMainPhoto {
  background-image: url('/assets/Home-Hero-Image.jpg');
  min-width:55%;
  min-height: 100vh;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: flex;
}