@import "../settings/colors";
@import "../settings/fonts";

.logOut {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: flex-end;

  form {
    margin-top: 2rem;
    align-self: center;
    width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logInBox {
      background-color: $backgroundFourSteps;
      display: flex;
      flex-direction: column;
      padding: 2rem 3rem 0.5rem 3rem;
      width: 15rem;

      input {
        border-bottom: 1px solid $borderColor;
        width: 100%;
        line-height: 1.5rem;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
      }
    }
  }

  .logInHeader {
    margin-top: 1.5rem;
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 2.4rem;
      line-height: 1.5;
    }

    h2 {
      font-size: 2.1rem;
      line-height: 1.5;
    }

  }

  img {
    margin: 1rem;
  }

  .button {
    padding: 1rem;
    margin: 1rem;
    font-family: OpenSansLight;
    text-decoration: none;
    color: $mainFontColor;
    min-width: 3rem;
    text-align: center;
    border: 1px solid $mainFontColor;
  }

  .active {
    font-family: OpenSansLight;
  }
}

