@import "../../../settings/colors";
@import "../../../settings/fonts";

.formStep3WhomWeHelpItem {
  border: solid 1px $mainFontColor;
  padding: 1rem;
  margin-right: 1rem;
  font-size: 1.8rem;
  font-family: OpenSansLight;
  cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */


}