.formHeader {
  display: flex;
  width: 100%;
  background-image: url('/assets/Form-Hero-Image.jpg');
  background-position: -25%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  flex-direction: column;
}