@import "../scss/settings/fonts";
@import "../scss/settings/colors";
@import "../scss/settings/breakingPoints";

.headerMenu {
  height: 95px;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
  align-items: flex-start;

  @media (max-width: $phones) {
    display: none;
  }

  .homeHeaderNavigateMenu {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      .menuButton {
        text-decoration: none;
        padding: 0.8rem;
        color: $mainFontColor;
        cursor: pointer;
        background-color: $buttonsBackground;
      }
      .active {
        border: 1px solid $mainFontColor;
        color: $mainFontColor;
        cursor: pointer;
      }
    }
  }
  .homeHeaderLogInMenu {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    font-size: 0.8rem;


    li {
      padding: 0.5rem;
      .menuButton {
        text-decoration: none;
        padding: 0.5rem;
        color: $mainFontColor;
        cursor: pointer;
        background-color: $buttonsBackground;
      }
      .active {
        color: $mainFontColor;
        cursor: pointer;
      }
    }
  }
}
